* {
    font-family: "Roboto";
    margin: 0;
}
/*Accesorios-Cañas-Reels-Combos */
.titulo-seccion {
    display: flex;
    justify-content: center;
    
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 35.16px;
    letter-spacing: 0.23715278506278992px;
    color: #73715F;
    padding: 10px;
}
#sub {
  animation-name: sub;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  background-color: #73715F ;
  width: 0;
  margin: 0 auto;
}
@keyframes sub {
  from {width: 0;}
  to {width: 95%;}
}
/*Productos*/
.tabla-productos {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 4rem;

    overflow: scroll;
    height: 70vh;
}
.producto {
    display: flex;
    flex-direction: column;
    max-height: 250px; max-width: 250px;
    border-radius: 26px;
    border: 1px solid #73715F;
}
.prod-img {
    display: flex;
    flex: 2;
    justify-content: center;
    margin: 10px;
}
.prod-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 20px 20px;
}
.prod-info:nth-child(2) {
  font-weight: 300;
}
.btn-compra {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 10px;
    
}
.btn-compra > button {
    border-radius: 6px;
    background-color: #F2E772;
    border: 0;
    width: 40%;
}
.btn-compra > button:hover {
  border-radius: 6px;
  background-color: #72DBF2;
  border: 0;
  width: 40%;
  transition-duration: 300ms;
}

hr {
    color: 73715F;
    width: 95%;
    margin: 0 auto;
}
/*Informacion de compra*/
.info-pago {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}
.info-pago > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.sep {
    background-color: #73715F;
    width: 2px;
    margin: 10px;
}
.info-icon {
    max-width: 160px;
}
/*fuentes*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  